.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  background-color: var(--secondary);

  .sidePanel {
    background-color: var(--sidePanel);
    height: 88vh;
    display: grid;
    grid-template-rows: 3fr 1fr 6fr 1fr;
    color: var(--tertiary);
    .topPanel {
      display: flex;
      flex-direction: column;
      > * {
        display: flex;
        cursor: pointer;
        padding-top: 14px;
      }
    }
    .bottomPanel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > * {
        padding-top: 20px;
      }
      #variableProjects {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        button {
          padding-top: 20px;
          display: grid;
          grid-template-columns: 4fr 1fr;
          svg {
            height: 1.2rem;
            align-self: center;
            path {
              stroke: var(--tertiary);
            }
          }
          h3 {
            justify-self: flex-start;
          }
        }
      }
    }
    button {
      background-color: var(--sidePanel);
      outline: none;
      border: none;
      cursor: pointer;
      font-family: $fonts;
      color: var(--tertiary);
      font-size: 1rem;
      svg.feather.feather-plus-square {
        height: 100%;
      }
    }
    span.tooltip {
      opacity: 0;
      position: absolute;
      z-index: 999999999999;
      font-family: $fonts;
      font-size: 0.8rem;
      text-align: center;
      color: var(--tertiary);
      background-color: var(--primary);
      padding: 5px 0;
      border-radius: 6px;
      width: 120px;
    }
    //span.tooltip:hover {
    // opacity: 1;
    //}
    button#addButton:hover .tooltip {
      opacity: 1;
    }
    button#addProject:hover .tooltip {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 450px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    .sidePanel {
      display: none;
      width: 100%;
      align-items: center;
      .topPanel {
        display: flex;
        flex-direction: column;
        > * {
          display: flex;
          cursor: pointer;
          padding-top: 14px;
        }
      }
      .bottomPanel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        > * {
          padding-top: 20px;
        }
        #variableProjects {
          padding-top: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          button {
            padding-top: 20px;
            display: grid;
            grid-template-columns: 4fr 1fr;
            svg {
              height: 1.2rem;
              align-self: center;
              path {
                stroke: var(--tertiary);
              }
            }
            h3 {
              justify-self: flex-start;
            }
          }
        }
      }
    }
  }
}
