.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;

  .sidePanel {
    background-color: $sidePanel;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .topPanel {
      display: flex;
      flex-direction: column;
      > * {
        display: flex;
      }
    }
  }
}
