.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;

  .sidePanel {
    background-color: $sidePanel;
    height: 88vh;
    display: grid;
    grid-template-rows: 3fr 1fr 6fr 1fr;
    color: $tertiary;
    .topPanel {
      display: flex;
      flex-direction: column;
      > * {
        display: flex;
        cursor: pointer;
        padding-top: 14px;
      }
    }
    .bottomPanel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > * {
        padding-top: 20px;
      }
    }
    button {
      background-color: $sidePanel;
      outline: none;
      border: none;
      cursor: pointer;
      font-family: $fonts;
      color: $tertiary;
      font-size: 1rem;
      svg.feather.feather-plus-square {
        height: 100%;
      }
      .tooltip {
        opacity: 0;
        position: absolute;
        z-index: 999999999999;
        font-family: $fonts;
        font-size: 0.8rem;
        text-align: center;
        color: $tertiary;
        background-color: $primary;
        padding: 5px 0;
        border-radius: 6px;
        width: 120px;
      }
      .tooltip:hover {
        opacity: 1;
      }
    }
  }
}
