.popup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: $fonts;
  form {
    width: 70%;
    height: 100%;
    background-color: var(--sidePanel);
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 0 16px 8px var(--primary);
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    textarea {
      background-color: var(--formbackground);
      outline: none;
      color: var(--tertiary);
      border: none;
      resize: none; //remove the diagonal lines to resize textarea
      font-family: $fonts;
      font-size: 1rem;
      padding: 10px;
      overflow: hidden;
      textarea:focus {
        font-size: 1.2rem;
      }
    }
    .controls {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      padding: 0 10px;
      #duedate,
      #duetime,
      #priority,
      #project,
      label,
      option {
        font-family: $fonts;
        color: var(--tertiary);
        font-size: 0.8rem;
      }
    }
    .buttonBox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 10px;
      button {
        width: 50%;
        outline: none;
        border: 1px solid var(--sidePanel);
        border-radius: 16px;
        font-family: $fonts;
        color: var(--secondary);
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
      }
      #submit {
        background-color: var(--primary);
        color: var(--secondary);
        justify-self: flex-end;
        margin-right: 5px;
      }
      #cancel {
        background-color: var(--cancel);
        justify-self: flex-start;
        margin-left: 5px;
      }
    }
  }
}

.editPopup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: $fonts;
  form {
    width: 70%;
    height: 100%;
    background-color: var(--sidePanel);
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 0 16px 8px $primary;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    textarea {
      background-color: var(--formbackground);
      outline: none;
      color: $tertiary;
      border: none;
      resize: none; //remove the diagonal lines to resize textarea
      font-family: $fonts;
      font-size: 1rem;
      padding: 10px;
      overflow: hidden;
      textarea:focus {
        font-size: 1.2rem;
      }
    }
    .editControls {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      padding: 0 10px;
      #editduedate,
      #editduetime,
      #editpriority,
      #editproject,
      label,
      option {
        font-family: $fonts;
        color: var(--tertiary);
        font-size: 0.8rem;
      }
    }
    .editButtonBox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 10px;
      button {
        width: 50%;
        outline: none;
        border: 1px solid var(--sidePanel);
        border-radius: 16px;
        font-family: $fonts;
        color: var(--secondary);
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
      }
      #editsubmit {
        background-color: var(--primary);
        color: var(--secondary);
        justify-self: flex-end;
        margin-right: 5px;
      }
      #editcancel {
        background-color: var(--cancel);
        justify-self: flex-start;
        margin-left: 5px;
      }
    }
  }
}

.todoDisplay {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: $fonts;
  .todoDisplayCard {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    width: 70%;
    height: 100%;
    background-color: var(--sidePanel);
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 0 16px 8px var(--primary);
    color: $tertiary;

    padding: 10px;
    overflow: hidden;
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1rem;
    }
    .todoDisplayControls {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      padding: 0 10px;
      h5 {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .closeButton {
      margin-top: 10px;
      justify-self: center;
      width: 50%;
      outline: none;
      border: 1px solid var(--sidePanel);
      border-radius: 16px;
      font-family: $fonts;
      color: var(--secondary);
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      background-color: var(--cancel);
      margin-left: 5px;
      font-size: 1rem;
    }
  }
}
