.projectPopup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 200px;
  z-index: 10;
  width: 100%;
  height: 150px;
  font-family: $fonts;

  form {
    width: 70%;
    height: 100%;
    background-color: $sidePanel;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 0 16px 8px $primary;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    input {
      background-color: $formbackground;
      height: 2rem;
      width: 80%;
      outline: none;
      color: $tertiary;
      border: none;
      border-radius: 16px;
      resize: none; //remove the diagonal lines to resize textarea
      font-family: $fonts;
      font-size: 1rem;
      padding: 10px;
      overflow: hidden;
      input:focus {
        font-size: 1.2rem;
      }
    }
    label {
      font-family: $fonts;
      color: $tertiary;
      font-size: 1rem;
      margin-left: 5%;
    }
    .projectButtonBox {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 10px;
      button {
        width: 50%;
        outline: none;
        border: 1px solid $sidePanel;
        border-radius: 16px;
        font-family: $fonts;
        color: $secondary;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
      }
      #projectSubmit {
        background-color: $primary;
        color: $secondary;
        justify-self: flex-end;
        margin-right: 5px;
      }
      #projectCancel {
        background-color: $cancel;
        justify-self: flex-start;
        margin-left: 5px;
      }
    }
  }
}
