.todoListItem {
  border-bottom: 1px solid $primary;
  border-radius: 16px;
  width: 90%;
  padding: 5px;
  margin: 5px auto;

  box-shadow: 0 0 8px $primary;
  height: 3rem;
  align-items: center;

  color: $tertiary;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 3fr 2fr 1fr 1fr;
  #todoListButton {
    background-color: $sidePanel;
    font-family: $fonts;
    padding: 3px 8px;
    border-radius: 16px;
    color: $tertiary;
    border: none;
    outline: none;
    height: 2.3rem;
  }
  svg {
    height: 90%;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
}

.checked {
  background-color: $cancel;
  .todoListPriority svg {
    stroke: #160416;
  }
}
