$primary: rgb(179, 68, 87);
$headerDark: rgb(145, 24, 74);
$primaryDark: rgb(36, 6, 11);
$sidePanelDark: rgb(14, 1, 14);
$secondary: white;
$tertiary: rgb(22, 4, 22);
$sidePanel: rgb(240, 186, 195);
$cancel: #816f72;
$cancelDark: #5c3e4e;
$formbackground: rgb(243, 229, 231);
$formbackgroundDark: rgb(97, 73, 94);
$invalid: red;
$fonts: "Lora", Georgia, serif;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --sidePanel: #{$sidePanel};
  --cancel: #{$cancel};
  --formbackground: #{$formbackground};
  --invalid: #{$invalid};
}

.darkTheme {
  --primary: #{$headerDark};
  --secondary: #{$tertiary};
  --tertiary: #{$secondary};
  --sidePanel: #{$sidePanelDark};
  --cancel: #{$cancelDark};
  --formbackground: #{$formbackgroundDark};
  --invalid: #{$invalid};
}
