@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(179, 68, 87);
  --secondary: white;
  --tertiary: rgb(22, 4, 22);
  --sidePanel: rgb(240, 186, 195);
  --cancel: #816f72;
  --formbackground: rgb(243, 229, 231);
}

.darkTheme {
  --primary: rgb(145, 24, 74);
  --secondary: rgb(22, 4, 22);
  --tertiary: white;
  --sidePanel: rgb(14, 1, 14);
  --cancel: #5c3e4e;
  --formbackground: rgb(97, 73, 94);
}

.header {
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  grid-template-columns: 10fr 1fr;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
}
.header .menu {
  display: none;
}
.header h1 {
  justify-self: center;
  text-align: center;
  padding-left: 1.5rem;
}
.header button {
  justify-self: flex-end;
  justify-content: flex-end;
  outline: none;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}
.header svg {
  height: 1.5rem;
  justify-self: end;
}
.header svg path {
  fill: var(--secondary);
}

@media screen and (max-width: 450px) {
  .header {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .header .menu {
    display: grid;
  }
  .header .menu svg {
    height: 1.5rem;
    justify-self: center;
  }
  .header .menu svg path {
    stroke: var(--secondary);
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  background-color: var(--secondary);
}
.content .sidePanel {
  background-color: var(--sidePanel);
  height: 88vh;
  display: grid;
  grid-template-rows: 3fr 1fr 6fr 1fr;
  color: var(--tertiary);
}
.content .sidePanel .topPanel {
  display: flex;
  flex-direction: column;
}
.content .sidePanel .topPanel > * {
  display: flex;
  cursor: pointer;
  padding-top: 14px;
}
.content .sidePanel .bottomPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .sidePanel .bottomPanel > * {
  padding-top: 20px;
}
.content .sidePanel .bottomPanel #variableProjects {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .sidePanel .bottomPanel #variableProjects button {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.content .sidePanel .bottomPanel #variableProjects button svg {
  height: 1.2rem;
  align-self: center;
}
.content .sidePanel .bottomPanel #variableProjects button svg path {
  stroke: var(--tertiary);
}
.content .sidePanel .bottomPanel #variableProjects button h3 {
  justify-self: flex-start;
}
.content .sidePanel button {
  background-color: var(--sidePanel);
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Lora", Georgia, serif;
  color: var(--tertiary);
  font-size: 1rem;
}
.content .sidePanel button svg.feather.feather-plus-square {
  height: 100%;
}
.content .sidePanel span.tooltip {
  opacity: 0;
  position: absolute;
  z-index: 999999999999;
  font-family: "Lora", Georgia, serif;
  font-size: 0.8rem;
  text-align: center;
  color: var(--tertiary);
  background-color: var(--primary);
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
}
.content .sidePanel button#addButton:hover .tooltip {
  opacity: 1;
}
.content .sidePanel button#addProject:hover .tooltip {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content .sidePanel {
    display: none;
  }
}
.popup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: "Lora", Georgia, serif;
}
.popup form {
  width: 70%;
  height: 100%;
  background-color: var(--sidePanel);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 16px 8px var(--primary);
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 1fr;
}
.popup form textarea#popupTitle {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.popup form textarea {
  background-color: var(--formbackground);
  outline: none;
  color: var(--tertiary);
  border: none;
  resize: none;
  font-family: "Lora", Georgia, serif;
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
}
.popup form textarea textarea:focus {
  font-size: 1.2rem;
}
.popup form textarea textarea::-moz-placeholder {
  color: var(--primary);
}
.popup form textarea textarea::placeholder {
  color: var(--primary);
}
.popup form .controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 10px;
}
.popup form .controls #duedate,
.popup form .controls #duetime,
.popup form .controls #priority,
.popup form .controls #project,
.popup form .controls label,
.popup form .controls option {
  font-family: "Lora", Georgia, serif;
  color: var(--tertiary);
  font-size: 0.8rem;
}
.popup form .controls #duedate,
.popup form .controls #duetime,
.popup form .controls #priority,
.popup form .controls #project {
  background-color: var(--formbackground);
  border: 1px var(--primary);
  outline: none;
  border-radius: 8px;
}
.popup form .buttonBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}
.popup form .buttonBox button {
  width: 50%;
  outline: none;
  border: 1px solid var(--sidePanel);
  border-radius: 16px;
  font-family: "Lora", Georgia, serif;
  color: var(--secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.popup form .buttonBox #submit {
  background-color: var(--primary);
  color: var(--secondary);
  justify-self: flex-end;
  margin-right: 5px;
}
.popup form .buttonBox #cancel {
  background-color: var(--cancel);
  justify-self: flex-start;
  margin-left: 5px;
}

.editPopup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: "Lora", Georgia, serif;
}
.editPopup form {
  width: 70%;
  height: 100%;
  background-color: var(--sidePanel);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 16px 8px var(--primary);
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 1fr;
}
.editPopup form textarea#editPopupTitle {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.editPopup form textarea {
  background-color: var(--formbackground);
  outline: none;
  color: var(--tertiary);
  border: none;
  resize: none;
  font-family: "Lora", Georgia, serif;
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
}
.editPopup form textarea textarea:focus {
  font-size: 1.2rem;
}
.editPopup form .editControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 10px;
}
.editPopup form .editControls #editduedate,
.editPopup form .editControls #editduetime,
.editPopup form .editControls #editpriority,
.editPopup form .editControls #editproject,
.editPopup form .editControls label,
.editPopup form .editControls option {
  font-family: "Lora", Georgia, serif;
  color: var(--tertiary);
  font-size: 0.8rem;
}
.editPopup form .editControls #editduedate,
.editPopup form .editControls #editduetime,
.editPopup form .editControls #editpriority,
.editPopup form .editControls #editproject {
  background-color: var(--formbackground);
  border: 1px var(--primary);
  outline: none;
  border-radius: 8px;
}
.editPopup form .editButtonBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}
.editPopup form .editButtonBox button {
  width: 50%;
  outline: none;
  border: 1px solid var(--sidePanel);
  border-radius: 16px;
  font-family: "Lora", Georgia, serif;
  color: var(--secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.editPopup form .editButtonBox #editsubmit {
  background-color: var(--primary);
  color: var(--secondary);
  justify-self: flex-end;
  margin-right: 5px;
}
.editPopup form .editButtonBox #editcancel {
  background-color: var(--cancel);
  justify-self: flex-start;
  margin-left: 5px;
}

.todoDisplay {
  margin: auto;
  position: absolute;
  filter: none;
  top: 100px;
  z-index: 10;
  width: 100%;
  height: 300px;
  font-family: "Lora", Georgia, serif;
}
.todoDisplay .todoDisplayCard {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 1fr;
  width: 70%;
  height: 100%;
  background-color: var(--sidePanel);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 16px 8px var(--primary);
  color: var(--tertiary);
  padding: 10px;
  overflow: hidden;
}
.todoDisplay .todoDisplayCard h3 {
  font-size: 1.5rem;
}
.todoDisplay .todoDisplayCard h4 {
  font-size: 1rem;
}
.todoDisplay .todoDisplayCard .todoDisplayControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 10px;
}
.todoDisplay .todoDisplayCard .todoDisplayControls h5 {
  font-size: 0.9rem;
}
.todoDisplay .todoDisplayCard .todoDisplayControls p {
  font-size: 0.9rem;
}
.todoDisplay .todoDisplayCard .closeButton {
  margin-top: 10px;
  justify-self: center;
  width: 50%;
  outline: none;
  border: 1px solid var(--sidePanel);
  border-radius: 16px;
  font-family: "Lora", Georgia, serif;
  color: var(--secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: var(--cancel);
  margin-left: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  .popup {
    top: 200px;
  }
  .popup form {
    width: 90%;
  }
  .editPopup {
    top: 200px;
  }
  .editPopup form {
    width: 90%;
  }
  .todoDisplay {
    top: 200px;
  }
  .todoDisplay .todoDisplayCard {
    width: 90%;
  }
}
.todoListItem {
  border-bottom: 1px solid var(--primary);
  border-radius: 16px;
  width: 90%;
  padding: 5px;
  margin: 5px auto;
  box-shadow: 0 0 8px var(--primary);
  height: 3rem;
  align-items: center;
  color: var(--tertiary);
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 3fr 2fr 1fr 1fr;
}
.todoListItem .todoListDueDate,
.todoListItem .todoListDueTime {
  text-align: center;
}
.todoListItem #todoListButton {
  background-color: var(--sidePanel);
  font-family: "Lora", Georgia, serif;
  padding: 3px 8px;
  border-radius: 16px;
  color: var(--tertiary);
  border: none;
  outline: none;
  height: 2.3rem;
}
.todoListItem svg {
  height: 70%;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
.todoListItem button {
  cursor: pointer;
}

.checked {
  background-color: var(--cancel);
  text-decoration: line-through;
}
.checked .todoListPriority svg {
  stroke: #160416;
}

/*@media screen and (max-width: 450px) {
  .todoListItem {
    #todoListButton {
      font-size: 0.8rem;
    }
  }
}*/
.projectPopup {
  margin: auto;
  position: absolute;
  filter: none;
  top: 200px;
  z-index: 10;
  width: 100%;
  height: 150px;
  font-family: "Lora", Georgia, serif;
}
.projectPopup form {
  width: 70%;
  height: 100%;
  background-color: var(--sidePanel);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 16px 8px var(--primary);
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.projectPopup form input {
  background-color: var(--formbackground);
  height: 2rem;
  width: 80%;
  outline: none;
  color: var(--tertiary);
  border: none;
  border-radius: 16px;
  resize: none;
  font-family: "Lora", Georgia, serif;
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
}
.projectPopup form input input:focus {
  font-size: 1.2rem;
}
.projectPopup form label {
  font-family: "Lora", Georgia, serif;
  color: var(--tertiary);
  font-size: 1rem;
  margin-left: 5%;
}
.projectPopup form .projectButtonBox {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}
.projectPopup form .projectButtonBox button {
  width: 50%;
  outline: none;
  border: 1px solid var(--sidePanel);
  border-radius: 16px;
  font-family: "Lora", Georgia, serif;
  color: var(--secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.projectPopup form .projectButtonBox #projectSubmit {
  background-color: var(--primary);
  color: var(--secondary);
  justify-self: flex-end;
  margin-right: 5px;
  font-size: 1rem;
}
.projectPopup form .projectButtonBox #projectCancel {
  background-color: var(--cancel);
  justify-self: flex-start;
  margin-left: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  .projectPopup form {
    width: 90%;
  }
}
body {
  font-family: "Lora", Georgia, serif;
}/*# sourceMappingURL=style.css.map */