* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "./scssfiles/variables";
@import "./scssfiles/header";
@import "./scssfiles/content";
@import "./scssfiles/popup";
@import "./scssfiles/todolistitem";
@import "./scssfiles/projectpopup";

body {
  font-family: $fonts;
}
